<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="libs/build/react.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular-grid/dist/angular-grid.js?ignore=notused7"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/angular-grid/dist/angular-grid.css?ignore=notused7">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-grid/dist/theme-fresh.css?ignore=notused7">


  </head>
  <body ng-app="simApp">
    <div class="container" ng-controller="simController">

    <div class="row">
      <div class="page-header">
                <div class="col-6">
        <h1>Power Plant Data<small> CCGT</small></h1>
      </div>
      <div class="col-6 pull-right">
        <button type="button" class="btn btn-success"
        ng-show="!editing"
        ng-click="editing=!editing">Edit</button>
        <button type="button" ng-show="editing" class="btn btn-success"
        ng-click="saveState()">Save</button>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8">

          <table class="table table-striped">

            <tbody>
              <tr>

                <td>Generation Capacity</td>
                <td>MW</td>
                <td><input type="text" ng-disabled="!editing" ng-model="fixedInputData.Capacity" ></td>

              </tr>
              <tr>

                <td>Forecast Max Export Limit</td>
                <td>MW</td>
                <td>{{fixedInputData.MaxLimit}}</td>
              </tr>
              <tr>

                <td>Stable Export Limit</td>
                <td>MW</td>
                <td>{{fixedInputData.StableLimit}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <div class="col-3">
        </div>
      </div>


    </div>
        <script src="deploy/bundle.js"></script>
  </body>
</html>
